body, ul, li, p, h1,
h2, div, span, figure {
  color: black;
  background: transparent;
  padding: 0px;
  margin: 0px;
  border: 0px;
  font-family: inherit;
}

body {
  font-family: 'Play', sans-serif;
  background: black;
}

li {
  border-radius: 2px;
}

ul {
  list-style: none;
  display: block;
  float: left;
}

.grid-point {
  display: block;
  background: #000;
  height: 25px;
  width: 25px;
}

.game-box {
  display: block;
  margin: auto;
  width: 610px;
  border: 5px solid black;
  border-radius: 2px;
  padding: 10px;
  background: black;
}

.tetris-game {
  display: block;
  float: left;
  margin-left: 25px;
  height: 500px;
  width: 250px;
  background: black;
  border-radius: 2px;
  border: 4px solid;
}

.block {
  height: 25px;
  width: 25px;
  display: block;
  border-radius: 2px;
  border: 4px;
  box-sizing: border-box;
  box-shadow: inset 3px 3px 3px rgba(0,0,0,0.5),
              inset -3px -3px 3px rgba(0,0,0,0.5),
              inset 3px -3px 3px rgba(0,0,0,0.5),
              inset -3px 3px 3px rgba(0,0,0,0.5);
}

.column {
  width: 25px;
  height: 500px;
  display: block;
  float: left;
}

.group:after {
  display: block;
  content: "";
  clear: both;
}

.title {
  padding: 20px;
  background: black;
  color: white;
  width: 258px;
  box-sizing: border-box;
  display: block;
  margin: auto;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}

.game-over {
  display: none;
  width: 100%;
  position: absolute;
  top: 200px;
  text-align: center;
  font-size: 80px;
  text-shadow: 5px 0px 5px #CCC,
               0px 5px 5px #CCC,
               5px 5px 5px #CCC,
              -5px 5px 5px #CCC,
              -5px -5px 5px #CCC,
               5px -5px 5px #CCC;
}

.play-again {
  display: none;
  width: 100%;
  position: absolute;
  top: 300px;
  text-align: center;
  font-size: 30px;
  text-shadow: 2px 0px 2px #CCC,
               0px 2px 2px #CCC,
               2px 2px 2px #CCC,
              -2px 2px 2px #CCC,
              -2px -2px 2px #CCC,
               2px -2px 2px #CCC;
}

.game-start {
  display: block;
  width: 100%;
  position: absolute;
  top: 300px;
  text-align: center;
  font-size: 30px;
  text-shadow: 2px 0px 2px #CCC,
               0px 2px 2px #CCC,
               2px 2px 2px #CCC,
              -2px 2px 2px #CCC,
              -2px -2px 2px #CCC,
               2px -2px 2px #CCC;
}

.level-up {
  display: none;
  width: 100%;
  position: absolute;
  top: 100px;
  text-align: center;
  font-size: 48px;
  text-shadow: 3px 0px 3px #CCC,
               0px 3px 3px #CCC,
               -3px 0px 3px #CCC,
               0px -3px 3px #CCC,
               3px 3px 3px #CCC,
              -3px 3px 3px #CCC,
              -3px -3px 3px #CCC,
               3px -3px 3px #CCC;
}

.score {
  display: block;
  border-bottom: 2px solid black;
  text-align: center;
}

.score-box {
  display: block;
  margin-top: 10px;
  text-align: right;
  font-size: 24px;
  margin-bottom: 50px;
}

.level {
  display: block;
  font-size: 24px;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
}

.level-num {
  display: block;
  font-size: 100px;
  padding: 10px;
  text-align: center;
}

.right-sidebar {
  display: block;
  float: right;
}

.left-sidebar {
  display: block;
  float: left;
}

.controls {
  display: block;
  margin-bottom: 20px;
}

.control {
  display: block;
  margin-bottom: 20px;
}

.info {
  color: white;
  display: block;
  font-size: 12px;
  margin-bottom: 10px;
  width: 130px;
  box-sizing: border-box;
}

.audio-player {
  display: none;
}

.next-block {
  display: block;
  height: 150px;
  width: 150px;
  border-radius: 5px;
  background: black;
  margin-bottom: 50px;
  background: black;
  border-radius: 2px;
}

.hold-block {
  display: block;
  height: 150px;
  width: 150px;
  border-radius: 5px;
  margin-bottom: 50px;
  background: black;
  background: black;
  border-radius: 2px;
}


.color-flow {
  animation:colorflow 5s linear infinite;
  -moz-animation:colorflow 5s linear infinite; /* Firefox */
  -webkit-animation:colorflow 5s linear infinite; /* Safari and Chrome */
  -o-animation:colorflow 5s linear infinite; /* Opera */
}

@keyframes colorflow {
  0%,100%   {color:rgb(110, 110, 245);}
  16.666666%  {color:rgb(110, 245, 245);}
  33.333333%  {color:rgb(110, 245, 110);}
  50% {color:rgb(245, 245, 110);}
  66.666666% {color:rgb(245, 110, 110);}
  83.333333% {color:rgb(245, 110, 245);}
}

@-moz-keyframes colorflow /* Firefox */ {
  0%,100%   {color:rgb(110, 110, 245);}
  16.666666%  {color:rgb(110, 245, 245);}
  33.333333%  {color:rgb(110, 245, 110);}
  50% {color:rgb(245, 245, 110);}
  66.666666% {color:rgb(245, 110, 110);}
  83.333333% {color:rgb(245, 110, 245);}
}

@-webkit-keyframes colorflow /* Safari and Chrome */ {
  0%,100%   {color:rgb(110, 110, 245);}
  16.666666%  {color:rgb(110, 245, 245);}
  33.333333%  {color:rgb(110, 245, 110);}
  50% {color:rgb(245, 245, 110);}
  66.666666% {color:rgb(245, 110, 110);}
  83.333333% {color:rgb(245, 110, 245);}
}

@-o-keyframes colorflow /* Opera */ {
  0%,100%   {color:rgb(110, 110, 245);}
  16.666666%  {color:rgb(110, 245, 245);}
  33.333333%  {color:rgb(110, 245, 110);}
  50% {color:rgb(245, 245, 110);}
  66.666666% {color:rgb(245, 110, 110);}
  83.333333% {color:rgb(245, 110, 245);}
}
