body, ul, li, p, h1,
h2, div, span, figure {
  color: black;
  background: transparent;
  padding: 0px;
  margin: 0px;
  border: 0px;
}

ul {
  list-style: none;
}

.grid-point {
  display: block;
  background: #000;
  height: 25px;
  width: 25px;
}

.tetris-game {
  display: block;
  margin: auto;
  height: 500px;
  width: 250px;
}

.block {
  height: 25px;
  width: 25px;
  display: block;
}

.column {
  width: 25px;
  height: 500px;
  display: block;
  float: left;
}

.group:after {
  display: block;
  content: "";
  clear: both;
}

.red {
  background: red;
}

.blue {
  background: blue;
}
